annotated-types==0.7.0
aws-lambda-powertools==3.3.0
boto3==1.35.74
botocore==1.35.74
certifi==2024.8.30
charset-normalizer==3.4.0
dateutils==0.6.12
docker==7.1.0
idna==3.10
polars==1.16.0
psycopg2-binary==2.9.10
pydantic==2.10.3
pydantic_core==2.27.1
pyproj==3.7.0
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
s3transfer==0.10.4
