# Requirements file just for dev environments

# requirements that are in the base lambda runtime
awslambdaric==2.2.0
boto3==1.34.145
botocore==1.34.145
pip==24.0
s3transfer==0.11.2
simplejson==3.19.3
urllib3==1.26.19

# Our custom layer that is used as a layer by most functions
-r ingestion_layer/requirements.txt

# Requirements for specific lambdas
-r convert_to_parquet_function/requirements.txt
-r sirivm_otp_matching_function/requirements.txt
-r sirivm_s3_ingestion_function/requirements.txt
-r sns_subscription_function/requirements.txt
-r traveline_import_function/requirements.txt

# Requirements for historic matching
-r ../docker/historic-matching/requirements.txt

# Tools used for dev purposes
ruff==0.9.3
pytest==8.3.3
checkov==3.1.47
boto3-stubs[essential]==1.35.32
types-psycopg2==2.9.21.20240819
lxml-stubs==0.5.1
