# Requirements file just for dev environments

# Our custom layer that is used as a layer by most functions
-r ingestion_layer/requirements.txt

# Requirements for specific lambdas
-r convert_to_parquet_function/requirements.txt
-r sirivm_otp_matching_function/requirements.txt
-r sirivm_s3_ingestion_function/requirements.txt
-r sns_subscription_function/requirements.txt
-r traveline_import_function/requirements.txt

# Requirements for historic matching
-r ../docker/historic-matching/requirements.txt

# Tools used for dev purposes
ruff==0.11.2
pytest==8.3.3
checkov==3.2.460
boto3-stubs[essential]==1.37.19
types-psycopg2==2.9.21.20250318
lxml-stubs==0.5.1
